<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>使用者介面</title>
    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success d-flex align-items-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">違停首頁</a>     
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    
          <li class="nav-item">
            <a class="nav-link active" href="#">個人首頁</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active" href="#">最新消息</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active" href="#">聯絡資訊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/signout">登出</a>
          </li>            
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>
    <div><br><br><br><br></div>
    <div style="text-align: center;">
    <h3>您好: {{name}} <br> 歡迎使用成功大學機車違停檢舉系統</h3>
    </div>
  <div class="mb-3" style="padding-left: 5%; padding-right: 5%;">
    <label for="exampleFormControlInput1" class="form-label">地點:
    </label>
<div>
    <select>
        <option>請選擇地點</option>
        <option>A區地下室</option>
        <option>B區地下室</option>
        <option>C區地下室</option>
        <option>D區地下室</option>
        <option>E區地下室</option>
        <option>F區地下室</option>
    </select>
</div>
    
  </div>
  <div class="mb-3" style="padding-left: 5%; padding-right: 5%;">
    <label for="exampleFormControlTextarea1" class="form-label">詳細敘述:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
  </div>

  <div class="mb-3" style="padding-left: 5%; padding-right: 5%;">
    <input type="file" class="form-control form-control-lg" aria-label="Large file input example">
  </div>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p>
          <a href="/success" class="btn btn-primary my-2">確認上傳</a>
        </p>
      </div>
    </div>
  </section>

</main>

<div class="d-flex justify-content-between py-4 my-4 border-top"></div>
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>選單</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">個人首頁</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">最新消息</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">聯絡資訊</a></li>
        </ul>
      </div>

      <div class="col-5"></div>

      <div class="col-4 offset-1">
        <form>
          <h5>歡迎訂閱最新訊息</h5>
          <p>請輸入您的信箱以取得最新消息</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">訂閱</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022_NCKU</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
